<div class="main-container">
    <div class="button-holder">
        <button class="btn btn-primary" (click)="opened = true">New</button>
    </div>

    <div class="card-container">
        <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-12">
                <div class="card" *ngFor="let party of parties">
                    <div class="card-header">
                        {{party.nombre}}
                    </div>
                    <div class="card-block">
                        <div class="card-media-block">
                            <img src="" class="card-media-image">
                            <div class="card-media-description">
                                <span class="card-media-title">
                                    title
                                </span>
                                <span class="card-media-text">
                                    Owner: John Doe
                                </span>
                            </div>
                        </div>
                        <div class="card-text">
                            ...
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link">Action</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

SHOW MODAL

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">New party</h3>
    <div class="modal-body">
        <p>Clicking on the backdrop doesn't do anything.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
            I'm the only way to close the modal!
        </button>
    </div>
</clr-modal>