<section class="hero">
  <div class="background-image" style="background-image: url(/assets/images/home1.jpg)"></div>
  <div class="hero-content-area">
    <h1>Candidatos 2019</h1>
    <h3>Promesa hecha, fiscalización programada</h3>
    <div class="btn-group btn-primary">
      <button class="btn" routerLink="/home" routerLinkActive="active">Ver partidos</button>
    </div>
  </div>

</section>

<section class="destinations">
  <div class="clr-row">
    <div class="cen-element">
      <h3 class="title">¿Quieres trabajar? Aqui tienes una solucion</h3>
      <p>Prueba nuestro apartado donde puedes buscar gente que desee pasear a sus mascotas.</p>
      <button class="btn btn-block">Prueba nuestro apartado para ti</button>
      <hr>
    </div>
  </div>
  <div class="clr-row">
    <h3 class="title">¿Necesitas alguien para pasear a tu mascota?</h3>
    <p>Encuentra miles de personas que te pueden ayudar a realizar esa tarea que no te da tiempo</p>
    <button class="btn btn-block">Prueba nuestro apartado para ti</button>
    <hr>
  </div>

</section>
<section class="contact">
  <div class="clr-row">
    <div class="clr-col-4">

    </div>
    <div class="clr-col-6">
      <h3 class="title">Rest information will go here:</h3>
    </div>
  </div>
  <hr>
  <form>
    <input type="email" placeholder="Email">
    <button class="btn btn-success">Escribenos</button>
  </form>
</section>
<footer>

  <p>Made by Pardeep Singh</p>
  <p>No attribution required. you can remove this footer.</p>
</footer>